:root{
    --main-bg-color: #003049;
    --main-border-color: #eeecec;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
   font-family: 'Bruno Ace SC', cursive;

}

.container {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    color: rgba(245, 236, 236, 0.938);
    border-radius: 5px;
    width: 100vh;
    height: 100vh;
    margin-bottom: 5px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 30px;
    margin-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #f3f1ed46;
    text-decoration: none;
}
.link:hover{
    box-shadow: 0 4px 14px 0 rgb(255, 255, 255);
    transform: translateX(2px);
    transition: all 0.05s ease-in-out;
}
input {
    border-color: #cccccc;
}
